.button {
  margin: 4px;
  padding: 0.5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #136f93;
  color: #fff;
  cursor: pointer;
  outline: none
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-within {
  background-color: #0d4e67;
}

.button:not(:disabled):hover {
  cursor: pointer;
}

.button:not(:disabled):focus-within {
  outline: 1px dashed #136f93;
  outline-offset: 1px;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  cursor: not-allowed;
}